# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.log
.DS_Store

# Virtual envs
.venv/
venv/
env/

# IDEs
.vscode/
.idea/

# Artifacts / generated outputs
artifacts/
samples/
synthetic/
tensorboard/
metrics/

# Model weights / checkpoints
*.weights.h5
*.joblib
*.ckpt
*.pt
*.pth
.USTC-TFC2016_malware/
data/
USTC-*/
*.npy
*.npz